<div class="feature-trigger">
  <h3>Table AUDIT</h3>

  <div class="feature-table">
    <table class="feature-table-audit">
      <tr>
        <th>Nom d'utilisateur</th>
        <th>Type d'action</th>
        <th>Date</th>
        <th>Machine</th>
      </tr>
      <tr>
        <td>Dupont</td>
        <td>INSERT</td>
        <td>2026-03-21 16:00</td>
        <td>PC01</td>
      </tr>

      <tr>
        <td>Dupont</td>
        <td>INSERT</td>
        <td>2026-03-21 16:00</td>
        <td>PC01</td>
      </tr>
    </table>
  </div>

  <div class="feature-count">
    <ul>
      <li>Nombre d'insertion : 10</li>
      <li>Nombre de modification : 5</li>
      <li>Nombre de suppression : 6</li>
    </ul>
  </div>
</div>
