<div class="feature-user">
  <div class="feature-form">
    <h3>Ajouter une facture</h3>

    <form action="">
      <label for="">Nom de la facture</label>
      <input type="text" />

      <label for="">Date de la facture</label>
      <input type="datetime-local" name="dateFacture" id="dateFacture" class="custom-picker"/>

      <label for="">Montant</label>
      <input type="number" name="" id="" />

      <button>Ajouter</button>
    </form>
  </div>

  <div class="feature-list">
    <table>
      <tr>
        <th>ID</th>
        <th>Nom de la facture</th>
        <th>Date de la facture</th>
        <th>Montant</th>
        <th></th>
      </tr>
      <tr>
        <td>1</td>
        <td>Score</td>
        <td>2026-03-21 15:00</td>
        <td>100000 Ariary</td>
        <td>
          <Button>Modifier</Button>
          <Button>Supprimer</Button>
        </td>
      </tr>
    </table>
  </div>
</div>
