<div class="feature-user">
  <div class="feature-form">
    <h3>Ajouter une facture</h3>

    <form [formGroup]="createFactureForm" (ngSubmit)="onSubmit()">
      <label for="">Nom de la facture</label>
      <input type="text" formControlName="nom" />

      <label for="">Date de la facture</label>
      <input
        type="date"
        formControlName="date_facture"
        name="dateFacture"
        id="dateFacture"
        class="custom-picker"
      />

      <label for="">Montant</label>
      <input type="number" name="" id="" formControlName="montant" />

      <button>{{ editingFactureId ? "Modifier" : "Ajouter" }}</button>
    </form>
  </div>

  <div class="feature-list">
    <table>
      <tr>
        <th>ID</th>
        <th>Nom de la facture</th>
        <th>Date de la facture</th>
        <th>Montant</th>
        <th></th>
      </tr>
      <tr *ngFor="let f of factures">
        <td>{{ f.id_facture }}</td>
        <td>{{ f.nom }}</td>
        <td>{{ f.date_facture }}</td>
        <td>{{ f.montant }} Ariary</td>
        <td>
          <Button (click)="onModifyClick(f)">Modifier</Button>
          <Button (click)="showingModal(f)">Supprimer</Button>
        </td>
      </tr>
    </table>
  </div>

  <div class="delete-modal" *ngIf="showModal">
    <div class="modal-content">
      <p>Êtes-vous sûr de vouloir supprimer cette facture ?</p>
      <div class="modal-actions">
        <button (click)="confirmDelete()">Oui</button>
        <button (click)="showModal = false">Non</button>
      </div>
    </div>
  </div>
</div>
