<div class="feature-login">
  <p>Authentification Admin</p>

  <form
    class="feature-form"
    [formGroup]="loginAdminForm"
    (ngSubmit)="onSubmit()"
  >
    <input type="text" placeholder="E-mail" formControlName="userEmail" />
    <small
      class="small-error"
      *ngIf="
        loginAdminForm.get('userEmail')?.invalid &&
        loginAdminForm.get('userEmail')?.touched
      "
      >E-mail invalide</small
    >

    <input
      type="password"
      placeholder="Mot de passe"
      formControlName="password"
    />
    <small
      class="small-error"
      *ngIf="
        loginAdminForm.get('password')?.invalid &&
        loginAdminForm.get('password')?.touched
      "
    >
      Mot de passe obligatoire
    </small>

    <small class="small-error" *ngIf="loginError">
      E-mail ou mot de passe incorrect
    </small>
    <small class="small-error" *ngIf="notAdmin">
      Vous n'êtes pas autorisé à vous authentifier dans cette fenêtre
    </small>
    <button type="submit">Entrer</button>
  </form>
</div>
