<div class="feature-signin">
  <p>Enregistrement User</p>

  <form
    class="feature-form"
    [formGroup]="createUserForm"
    (ngSubmit)="onSubmit()"
  >
    <input type="text" placeholder="E-mail" formControlName="email" />
    <small
      class="small-error"
      *ngIf="
        createUserForm.get('email')?.invalid &&
        createUserForm.get('email')?.touched
      "
      >Email invalide</small
    >

    <input type="text" placeholder="Nom" formControlName="name" />
    <small
      class="small-error"
      *ngIf="
        createUserForm.get('name')?.invalid &&
        createUserForm.get('name')?.touched
      "
      >Nom obligatoire</small
    >

    <input
      type="password"
      placeholder="Mot de passe"
      formControlName="password"
    />
    <input
      type="password"
      placeholder="Confirmer mot de passe"
      formControlName="confirmPwd"
    />

    <small
      class="small-error"
      *ngIf="
        createUserForm.errors?.['passwordMismatch'] &&
        createUserForm.get('confirmPwd')?.touched
      "
      >Mot de passe incorrect</small
    >
    <button type="submit">Entrer</button>
  </form>
</div>
